<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @error %>
      <div class="alert alert-danger alert-dismissible fade show mb-3" role="alert">
        Oups, coulnd't do this because :
        <% if @error == "sign in" %>
          Credentials don't match database
        <% elsif @error == "sign up" %>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        <% else %>
          <% @gossip.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        <% end %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% elsif @action %>
      <div class="alert alert-primary alert-dismissible fade show mb-3" role="alert">
        <%= @action == "change" || @action == " delete" ? "Comment" : "Gossip" %> succesfuly <%= @action %>d!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <div class="card-img-overlay min-vh-80 d-flex jusitify-content-center flex-column mt-5">
      <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a href="<%= root_path %>" class="navbar-brand">The Gossip Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link <%="active" if current_page? root_path %>" href="<%= root_path %>">Home</a>
            <a class="nav-item nav-link <%="active" if current_page? gossips_path %>" href="<%= gossips_path %>">Gossips</a>
            <a class="nav-item nav-link <%="active" if current_page? team_path %>" href="<%= team_path %>">Team</a>
            <a class="nav-item nav-link <%="active" if current_page? contact_path %>" href="<%= contact_path %>">Contact</a>
          </div>
          <% if session[:user_id] %>
            <%= link_to "My Profile", user_path(session[:user_id]), method: :get, class:"nav-link active"%>
            <%= link_to "Sign out", session_path(session.id), method: :delete, class:"nav-link active"%>
          <% else %>
            <%= link_to "Sign up", new_user_path, method: :get, class:"nav-link active"%>
            <%= link_to "Sign in", new_session_path, method: :get, class:"nav-link active"%>
          <% end %>
        </div>
      </nav>
      <div class="container mt-3 pt-5">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
